name: Run and Check Example

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * *

env:
  FORCE_COLOR: "1"

jobs:
  example:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: laytan/setup-odin@v2
        with:
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Report
        run: odin report

      - name: Unix || Install Tree Sitter and Odin Parser
        run: |
            odin run build -- install
            odin run build -- install-parser -yes https://github.com/amaanq/tree-sitter-odin
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'

      - name: Windows || Install Tree Sitter and Odin Parser
        shell: cmd
        run: |
            call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat
            odin run build -- install
            odin run build -- install-parser -yes https://github.com/amaanq/tree-sitter-odin
        if: matrix.os == 'windows-latest'

      - name: Run Example
        run: |
            odin run example -debug -vet -strict-style -disallow-do -vet-tabs
            odin run example -o:speed
