name: Run and Check Example

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * *

env:
  FORCE_COLOR: "1"

jobs:
  example:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: laytan/setup-odin@v2
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
      - name: Report
        run: odin report
      - name: Install Tree Sitter and Odin Parser
        run: |
            odin run build -- install
            odin run build -- install-parser -yes https://github.com/amaanq/tree-sitter-odin
      - name: Run Example
        run: |
            odin run example -debug -vet -strict-style -disallow-do -vet-tabs
            odin run example -o:speed
